# Sets

## Overview

Sets are used to store multiple items in a single variable. Sets are an unordered collection of unique elements. Set _items_ are immutable, but you can remove and add new items.

Sets are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, List, and Dictionary, all with different qualities and usage.

## Create a Set

We can construct them by using the `set()` function or using `{}` braces.

In [1]:
boy_names = {'Levi', 'Riley', 'Jamie', 'Noah'}
squares = set([1, 4, 9, 16, 4])
print(boy_names)
print(squares)

{'Jamie', 'Riley', 'Levi', 'Noah'}
{16, 1, 4, 9}

Note the curly brackets. This does not indicate a dictionary, although you can draw analogies as a set being a dictionary with only keys.

## Access Items

You cannot access items in a set by referring to an index like you would a list or tuple. You can loop through the set though or use boolean statements to check if an item exists in a set.

In [2]:
try:
    squares[0]
except TypeError:
    print('"set" object is not subscriptable')

"set" object is not subscriptable

In [3]:
for name in boy_names:
    print(name)

Jamie
Riley
Levi
Noah

In [4]:
print(f'Is 9 in squares: {9 in squares}')
print(f'Is 4 missing from squares: {4 not in squares}')

Is 9 in squares: True
Is 4 missing from squares: False

## Basic List Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them.

### Add

Use `.add()` method to add an item to the set. If the item already exists, then the method will do nothing.

In [5]:
boy_names.add('Charles')
boy_names

{'Charles', 'Jamie', 'Levi', 'Noah', 'Riley'}

In [6]:
boy_names.add('Levi') # Will not create a duplicate item.
boy_names

{'Charles', 'Jamie', 'Levi', 'Noah', 'Riley'}

When dealing with strings, the items are case-sensitive.

### Difference

Use the `.difference()` method to return a set that contains only items that are in the first set and not in the second set.

In [7]:
girl_names = {'Emma', 'Sarah', 'Riley', 'Sophia', 'Jamie'}

In [8]:
boy_names.difference(girl_names)

{'Charles', 'Levi', 'Noah'}

Reversing the sets gives a different output.

In [9]:
girl_names.difference(boy_names)

{'Emma', 'Sarah', 'Sophia'}

### Difference Update

The `.difference_update()` method is slightly different in that it does not return a new set, rather it _removes_ the items that exist in both sets from the original set (left most operand.)

In [10]:
print(f'Original boy list: {boy_names}')
print(f'Original girl list: {girl_names}')

boy_names.difference_update(girl_names)
print(f'Updated boy list: {boy_names}')

Original boy list: {'Levi', 'Charles', 'Riley', 'Jamie', 'Noah'}
Original girl list: {'Riley', 'Emma', 'Jamie', 'Sophia', 'Sarah'}
Updated boy list: {'Levi', 'Charles', 'Noah'}

### Discard

The `.discard()` method removes the specified item from the set. This method is different from the `.remove()` method because the `.remove()` method will raise an error if the specified item does not exist, and the `.discard()` method will not.

In [11]:
girl_names.discard('Emma')
print(girl_names)
girl_names.discard('Haley')
print(girl_names)

{'Riley', 'Jamie', 'Sophia', 'Sarah'}
{'Riley', 'Jamie', 'Sophia', 'Sarah'}

### Intersection

Use the `.intersection()` method to return a set that contains the same items between two or more sets.

In [12]:
boy_names = {'Levi', 'Riley', 'Jamie', 'Noah'} # reset boy_names set
gender_neutral_names = boy_names.intersection(girl_names)
gender_neutral_names

{'Jamie', 'Riley'}

### Union

The `.union()` method returns a set that contains items from both the original set and any other sets specified.

In [13]:
names = boy_names.union(girl_names)
names

{'Jamie', 'Levi', 'Noah', 'Riley', 'Sarah', 'Sophia'}

### Other Methods

Here is a table containing other methods and their uses. Assume `x = {2,3,4}` and `y = {1,2,3,4,5,6}`.

| **Method** | **Description** | **Example** |
| --- | --- | ---: |
| `.copy()` | Returns a copy of the original set. |  `x.copy(y)` |
| `.issubset()` | eturns True if all items in the set exists in the specified set, otherwise it returns False. | `x.issubset(y)` |
| `.issuperset()` | Returns True if all items in the specified set exists in the original set, otherwise it returns False. | `x.issuperset(y)` |
| `.pop()` | Removes and returns a random item from the set. | `z = x.pop()` |
| `.symmetric_difference()` | Returns a set that contains all items from both set, but not the items that are present in both sets. | `x.symmetric_difference(y)` |