# Tuples

## Overview

Tuples in Python are ordered collections of items enclosed within parentheses. They are similar to lists but have one key difference: tuples are immutable, meaning their contents cannot be changed after creation. This immutability makes tuples suitable for representing fixed collections of items where the order and the number of items are important. Tuples can contain elements of different data types, and they support indexing and slicing operations just like lists. Common use cases for tuples include representing coordinates, returning multiple values from a function, and serving as keys in dictionaries. Due to their immutability, tuples offer better performance compared to lists in scenarios where the content doesn't need to change.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

## Create a Tuple

Let's start by constructing some tuples. We can create empty tuples...

In [1]:
empty_tuple = ()

...tuples with multiple elements...

In [2]:
days = ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

...or nested tuples.

In [3]:
nested_tuple = (1, 2, ('a', 'b'), (True, False))

We can also create tuples with a single element, however we must take some caution. If we simly do the following:

In [4]:
name = ('John Doe')
type(name)

str

we actually get a single item with a data type of that single element. The parenthesis don't automaticaly make them tuples and we need to add a comma after the element to indicate it should be a tuple. This is only for single element and does not apply to empty tuples.

In [5]:
type(()) # This is an empty tuple

tuple

In [6]:
name = ('John Doe', ) # The comma indicates this is a tuple and not a string
type(name)

tuple

## Immutability

Because tuples are immutable, if you try to change the value of an element through assignment you will get a TypeError.

In [7]:
try:
    days[0] = 'Monday'
except TypeError:
    print('Tuple object does not support item assignment')

Tuple object does not support item assignment

Additionaly, it does not suppport `del` operations on elements.

In [8]:
try:
    del name[0]
except TypeError:
    print('Tuple object does not support item deletion')

Tuple object does not support item deletion

Even though Python tuples are immutable, thereâ€™s a subtle detail to keep in mind when working with tuples. Tuples can store any type of object, including mutable ones. This means that you can store lists, sets, dictionaries, and other mutable objects in a tuple.

In [9]:
cars = ('Ford', ['Mustang', 'F150', 'Excursion'])
print(type(cars))
print(cars)

<class 'tuple'>
('Ford', ['Mustang', 'F150', 'Excursion'])

The first element is immutable, but the second element is a list so you can change their values in place.

In [10]:
cars[1][2] = 'Expedition'
cars

('Ford', ['Mustang', 'F150', 'Expedition'])

## Basic Tuple Methods

Tuples in Python tend to be more rigid than lists for two primary reasons: they have a fixed size (meaning once created, the size cannot be changed) and they are immutable (meaning their elements cannot be modified after creation).

Tuples, like lists, have built-in methods, but not nearly as many. Here are some common methods tuples.

### Count

The `.count()` method returns the number of occurences the specified value appears in the list.

In [11]:
days.count('Sunday')

1

### Index

Use `.index()` to enter a value and return the index

In [12]:
days.index('Friday')

5

## Index and Slice a Tuple

Tuple items are zero-indexed, just like lists. You can access tuple items by referring to the index number, inside square brackets.

Grab an item at a specified index.

In [13]:
# Return the 4th day of the week
days[4]

'Thursday'

Grab everything from index 2 and beyond.

In [14]:
days[2:]

('Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

Grab everything up to (but not including) index 5.

In [15]:
days[:5]

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday')

Grab items within a range of indices. The first index is inclusive and the last is exclusive.

In [16]:
# Return the weekdays
weekdays = days[1:6]
weekdays

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

You can also grab items starting at the end using negative indexing. -1 refers to the last item, -2 refers to the second to last item, etc. You can also grab ranges utilizing negative indexing. This can be useful when you won't know the length of your list or have an increasing/decreasing number of items.

In [17]:
# Return the last day
days[-1]

'Saturday'

In [18]:
# Return the third to last day and everything after
days[-3:]

('Thursday', 'Friday', 'Saturday')

In [19]:
# Return everything up until the last day
days[:-1]

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

It may be useful as well to grab an interval of items. We can specify this by adding another `:` delimeter to specify the interval.

In [20]:
# Return every other day, starting with Monday
days[1:7:2]

('Monday', 'Wednesday', 'Friday')

## Tuple Operations

We can perform various operations on tuples.

### Concatenation

We can concatenate together into one tuple using various methods. The simplest way is to use the `+` operator. In this case, the concatenation creastes a new tuple object.

In [21]:
print(name + cars)

('John Doe', 'Ford', ['Mustang', 'F150', 'Expedition'])

Another way is to use the `list()` function with the `.extend()` method and then convert back to a tuple using `tuple()`.

In [22]:
x = list(name)
y = list(cars)
x.extend(y)
z = tuple(x)
print(type(z))
print(z)

<class 'tuple'>
('John Doe', 'Ford', ['Mustang', 'F150', 'Expedition'])

### Repeat Content

We can repeat the elements of a tuple using the `*` operator.

In [23]:
name * 3

('John Doe', 'John Doe', 'John Doe')

In [24]:
nested_tuple * 2

(1, 2, ('a', 'b'), (True, False), 1, 2, ('a', 'b'), (True, False))

### Length of a Tuple

To get the length (number of elements) from a tuple we simply use teh `len()` function.

In [25]:
len(days)

7

### Reversing and Sorting

We have built-in functions like `reversed()` and `sorted()` to help when we need to sort or reverse the order of a tuple.

In [26]:
print(reversed(days)) # This returns an iterator object
tuple(reversed(days)) # Use the tuple constructor to get "consume" the iterator and create a new tuple in reversed order

<reversed object at 0x7f42f0aea0e0>

('Saturday', 'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Sunday')

An alternative way to do this is slicing the tuple with a step of -1.

In [27]:
days[::-1]

('Saturday', 'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Sunday')

To sort a tuple use `sorted()` to return a list in asending order. To convert back to a tuple use the `tuple() constructor.

In [28]:
tuple(sorted(days))

('Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday')

To return the tuple in reverse order, use the keyword `reverse` and set its parameter value to `True`.

In [29]:
tuple(sorted(days, reverse=True))

('Wednesday', 'Tuesday', 'Thursday', 'Sunday', 'Saturday', 'Monday', 'Friday')

### Packing and Unpacking

When we create a tuple, we normally assign values to it. This is called "packing" a tuple. But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking".

In [30]:
# "Pack" values into the variable `squares` using assignment
squares = 1, 4, 9
print(type(squares))
print(squares)

<class 'tuple'>
(1, 4, 9)

In [31]:
# Unpack values using the appropriate number of variables
x, y, z = squares
print(f'x={x}, y={y}, z={z}')

x=1, y=4, z=9

One particular useful use case for this is swapping values between variables.

In [32]:
a, b = 100, 200
print(f'Original values: a={a}, b={b}')

a, b = b, a
print(f'Swapped values: a={a}, b={b}')

Original values: a=100, b=200
Swapped values: a=200, b=100

Lastly, you can use a the packing/unpacking operator, `*`, when you need to be flexbile on how many elements you will need.

In [33]:
# 
first, *weekdays, last = days
print(first)
print(weekdays)
print(last)

Sunday
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
Saturday

In [34]:
*head, last = squares
print(head)
print(last)

[1, 4]
9

It's worth noting that these operations are not unique to tuples. Since Python 3.5, any iterable can be unpacked using this syntax.

## Comprehension

Just like lists, we can create tuples in a quick and effecient way.

In [35]:
# Return only Friday, Saturday, and Sunday to get the weekend
index = [5, 6, 0]
weekends = (days[x] for x in index)
tuple(weekends)

('Friday', 'Saturday', 'Sunday')

In [36]:
# Convert a list of strings to numbers
squares = ('1', '4', '9', '16', '25')
squares_conv = (int(square) for square in squares)
tuple(squares_conv)

(1, 4, 9, 16, 25)